* {
    font-family: 'Cedarville Cursive', cursive;
}

header {
    display: flex;
    /* space between is what puts ross tauchert to left and nav to right */
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

h1 {
    display: inline-block;
    font-size: 48px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
  }
  
  /* nav a {
    color: #b9C6ae;
    font-weight: bold;
    text-decoration: none;
  } */

nav a:hover {
    color: palevioletred;
  }

a {
    /* removes underlining from nav links */
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding-right: 35px;
 }

main {
display: flex;
flex-wrap: wrap;
margin-top: 150px;
justify-content: space-between;
}

section {
display: flex;
flex-wrap: wrap;

}

footer {
display: flex;
flex-wrap: wrap;

}

.handwritten {
    font-family: 'Gluten', sans-serif;
}

.profilepic {
    /* float: right; */
    text-align: right;
    border-radius: 500px;
}

#about-me {
flex-direction: column;
}

#my-work {

}

#contact {

}

#resume {

}

/* Tablets - header changes color */
@media screen and (max-width: 992px) {
    header, main {
        flex-direction: column;
    }
  }
  
  /* Large smartphones - navbar changes color */
  @media screen and (max-width: 812px) {

  }
  
  /* Small smartphones - image placeholders change color */
  @media screen and (max-width: 576px) {
    a {
        font-size: 18px;
    }
    
  }