* {
    font-family: 'Cedarville Cursive', cursive;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: fixed;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

h1 {
    display: inline-block;
    font-size: 48px;
}

nav {
display: flex;
flex-wrap: wrap;
float: right;
font-size: 20px;
}

nav a:hover {
    color: palevioletred;
  }

ul {
    list-style-type: none;
    flex-wrap: wrap;
    padding-top: 35px;
}

li {
    display: inline-block;
    margin-left: 25px;
    flex-wrap: wrap;

}

a {
    /* removes underlining from nav links */
    text-decoration: none;
 }

main {
display: flex;
flex-wrap: wrap;
margin-top: 150px;
justify-content: center;
}

section {
display: flex;
flex-wrap: wrap;

}

footer {
display: flex;
flex-wrap: wrap;

}

.handwritten {
    font-family: 'Gluten', sans-serif;
}

.profilepic {
    /* float: right; */
    text-align: right;
    border-radius: 500px;
}

#about-me {
flex-direction: column;
}

#my-work {

}

#contact {

}

#resume {

}

/* Tablets - header changes color */
@media screen and (max-width: 992px) {
    main {
        flex-direction: column;
    }
  }
  
  /* Large smartphones - navbar changes color */
  @media screen and (max-width: 812px) {
    nav {
        flex-direction: column;
    }

    ul {
        padding: 0px;
    }

    h1 {
        margin: 10px;
    }
  }
  
  /* Small smartphones - image placeholders change color */
  @media screen and (max-width: 576px) {
    ul {
        padding: 0px;
    }

    h1 {
        margin: 10px;
    }
  }