:root {
  --pink: pink;
}

* {
    font-family: 'Cedarville Cursive', cursive;
    list-style-type: none;
}


header {
    display: flex;
    /* space between is what puts ross tauchert to left and nav to right */
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

h1 {
    display: inline-block;
    font-size: 3rem;
}

h2 {
    display: inline-block;
    font-size: 1.25rem;
    font-weight: normal;
    text-align: center;
    justify-content: center;

}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 18.75rem;
  }
  
  /* nav a {
    color: #b9C6ae;
    font-weight: bold;
    text-decoration: none;
  } */

nav a:hover {
    color: #ff69b4;
  }

a {
    /* removes underlining from nav links */
    text-decoration: none;
    font-size: 1.25rem;
    color: black;
    padding-right: 2.188rem;
 }

main {
display: flex;
flex-direction: row;
flex-wrap: wrap;
margin-top: 15.625rem;
justify-content: center;
padding: 0rem 18.75rem;
}

section {
display: flex;
flex-wrap: wrap;

}



/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 0.75rem; /* Some padding */ 
    border: 0.063rem solid #ccc; /* Gray border */
    border-radius: 0.25rem; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 0.375rem; /* Add a top margin */
    margin-bottom: 1rem; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: var(--pink);
    color: black;
    padding: 0.75rem 1.25rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: var(--pink);
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 0.313rem;
    background-color: #f2f2f2;
    padding: 1.25rem;
    width: 37.5rem;
  }

.footer {
    display: flex;
    justify-content: center;
    background-color: var(--pink);
    width: 100%;
    padding: 6.25rem 0rem;

}



.handwritten {
    font-family: 'Gluten', sans-serif;
}

.profilepic {
    /* float: right; */
    text-align: right;
    border-radius: 3.125rem;
    height: 25rem;
    background-color: var(--pink);
}

.button {
    justify-content: center;
    background-color: var(--pink);
    border: none;
    color: black;
    padding: 0.938rem 2rem;
    /* text-align: center; */
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 0.25rem 0.125rem;
    cursor: pointer;
    width: 12.5rem;
    border-radius: 1.563rem;
  }

  .grid-container1 {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    gap: 0.625rem;
    display: flex;
    flex-wrap: wrap;
    margin-top: 3.125rem;
    margin-bottom: 3.125rem;
    justify-content: space-between;
    padding: 0rem 12.5rem;
  }

  .grid-container2 {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    gap: 0.625rem;
    display: flex;
    flex-wrap: wrap;
    margin-top: 3.125rem;
    margin-bottom: 3.125rem;
    justify-content: space-between;
    padding: 0rem 12.5rem;
  }
  
  .grid-item1 {
    background-color: var(--pink);
    padding: 0.313rem;
    text-align: center;
    width: 37.5rem;
    height: 37.5rem;
  }

  .grid-item2 {
    background-color: var(--pink);
    /* padding: 10px; */
    text-align: center;
    width: 18.75rem;
    height: 18.75rem;
  }

  .mylogo {
    width: 8.75rem;
    height: 7.5rem;
    background-image: url("./assets/FullLogo.png");
    background-color: white;
  }

   
#about-me {
flex-direction: column;
line-height: 2;
padding-left: 4.375rem;
}

#aboutme {
    font-size: 2.5rem;
    text-transform: lowercase;
}

#my-work {
    padding-top: 6.25rem;
    justify-content: center;
}

#resume {
    justify-content: center;

}



/* Tablets */
@media screen and (max-width: 98.25rem) {
    header, main {
        flex-direction: column;
        padding: 0rem;
        align-items: center;
    
    }

    section {
        justify-content: center;
    }
    
    #about-me {
        padding-top: 6.25rem;
        padding-left: 0rem;
        align-items: center;
        }
    #aboutme {
        margin-top: 0rem;
        justify-content: left;
    }
    
    .profilepic {
        width: 37.5rem;
        height: 28.125rem;
    }

    .button {
        margin-bottom: 3.125rem;

    }
    .footer-about, .footer-services, .footer-contact, .footer-follow {
        width: 100%;
        margin-bottom: 1.25rem;
  }

  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(9.375rem, 1fr));
  }
  
  /* Large smartphones */
  @media screen and (max-width: 62.5rem) {
    main {
        padding: 0rem 0rem;
   }

   .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(6.25rem, 1fr));
  }
  
  /* Small smartphones */
  @media screen and (max-width: 50rem) {
    a {
        font-size: 1.125rem;
    }

    #aboutme {
      width: 18.75rem;
      height: 18.75rem;
      font-size: 1.875rem;
  }

  .profilepic {
    width: 21.875rem;
    height: 15.625rem;
  }

  .grid-item1 {
    width: 18.75rem;
    height: 18.75rem;
  }

  .grid-item2 {
    width: 9.375rem;
    height: 9.375rem;
  }

  .container {
    width: 18.75rem;
    height: 18.75rem;
    padding-bottom: 21.875rem;
  }

  .footer {
    margin-top: 0.625rem;
  }